.jumbotron {
  background-color: rgba(49, 112, 143, 0.55);
  color: white;
}

.well {
  background-color: rgba(217, 35, 15, 0.12);
}


.important {
  font-family: sans-serif;
  font-weight: lighter;

}

.wiki {
  float: left;
  height: 150px;
  width: 150px;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
  color: #2f4854;
  {
